<% @request = Request.new %>

<%= form_for(@request) do |f| %>

  <% $i = 0 %>
  <% servers = Array.new %>
  <% Server.each do |s| %>
    <% servers[$i] = [s.nickname, s.id]%>
    <% $i += 1 %>
   <% end %>

  <% $i = 0 %>
  <% attrs = Array.new %>
  <% Attribute.each do |a| %>
  <% attrs[$i] = [a.name, a.name]%>
  <% $i += 1 %>
   <% end %>

  <div class="field">
    <%= f.select :server_id, servers%><br />
  </div>

 <div class="field">
    <%= f.select :attr_name, attrs%><br />
  </div>

  <div class="actions">
  	<%= f.submit %>
  </div>

  <% end %>
