/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

text{
	font: 10px sans-serif;
	fill: #fff;
}

div.tooltip{
	position: absolute;
	z-index: 10;
	background: lightsteelblue;
	text-align: center;
	width: 80px;
	height: 80 px;
	padding: 2px;
	font: 12px sans-serif;
	border: 0px;
	border-radius: 8px;
}

svg{
	margin-left: 20px;
}

span10{
	text-align: center;}

path {
	fill: none;
	stroke: steelblue;
	stroke-width: 3;
}

circle {
	fill: white;
	stroke: steelblue;
	stroke-width: 2;
}

circle:hover{
	fill:steelblue;
}

.axis path,
.axis line{
	fill: none;
	stroke: grey;
	stroke-width: 3;
	shape-rendering: crispEdges;
}

.axis tick major line{
	fill: black;
	stroke: black;
}