/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#spinner{
	position: absolute;
	margin-left: 750px;
	margin-top: 75px;
}

text{
	font: 10px sans-serif;
	fill: #fff;
}

div.tooltip{
	position: absolute;
	z-index: 10;
	background: lightsteelblue;
	text-align: center;
	width: 100px;
	height: 80 px;
	padding: 2px;
	font: 12px sans-serif;
	border: 0px;
	border-radius: 8px;
}

svg{
	margin-left: 140px;
	margin-bottom: 50px;
}

span10{
	text-align: center;}

path {
	fill: none;
	stroke: steelblue;
	stroke-width: 3;
}

circle {
	fill: none;
	opacity:0;
	stroke: steelblue;
	stroke-width: 2;
}

circle:hover{
	fill:steelblue;
	opacity:1;
}

.axis path,
.axis line{
	fill: none;
	stroke: black;
	stroke-width: 3;
}
.axis text{
	fill: black;
	font: 10px sans-serif;
}