/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#spinner{
	position: absolute;
	margin-left: 750px;
	margin-top: 75px;
}
 
text{
	font: 10px sans-serif;
	fill: #fff;
}

.navbar{
	margin-top:0;
	padding-top:0;
}

.navbar-inner{
	background-color: #000;
	padding-left:10px;
	height:60px;
	background-image:none;
}

.navbar .brand{
	color: #fff;
	font-size: 25px;
	padding-top: 17px;
	margin-right: 40px;
	float: right;
}

.nav-tabs{
	background-color:#000;
	border-bottom:none;
	font-size: 14px;
	color: #fff;
	padding-top:8px;
}

.button_to{
	background-color:#000;
	border-bottom:none;
	font-size: 14px;
	color: #fff;
	padding-top:8px;
}

.button_to div{
	background-color:#000;
	border-bottom:none;
	font-size: 14px;
	color: #fff;
}

.nav-tabs li{
	color: #000;
}

.nav-tabs > li > a:hover{
	background-color:white;
	color:white;
	fill:white;
	border-color:#000;
}

.navbar .nav li.dropdown.open > .dropdown-toggle{
	background-color: #fff;
	color: #000;
}

.navbar .nav > li > a {
	color:#fff;
}

.navbar .nav > li > a:hover {
	color:lightsteelblue;
}


.alert-container{
	height:350px;
	width:1400px;
	overflow:auto;
	position:fixed;
	top:50%;
	left:6%;
}

div.tooltip{
	position: absolute;
	z-index: 10;
	background: lightsteelblue;
	text-align: center;
	width: 100px;
	height: 80 px;
	padding: 2px;
	font: 12px sans-serif;
	border: 0px;
	border-radius: 8px;
}

.dropdown-menu{
	height: 200px;
	width: 300px;
	overflow:scroll;
}

.svg_container{
	fill:black;
	margin-left: 140px;
	margin-top: 60px;
	width:1350px;
	height:230px;
	max-height:270px;
	overflow:hidden;
}

span10{
	text-align: center;}

path {
	fill: none;
	stroke: steelblue;
	stroke-width: 3;
}

circle {
	fill: none;
	opacity:0;
	stroke: steelblue;
	stroke-width: 2;
}

circle:hover{
	fill:steelblue;
	opacity:1;
}

.axis path,
.axis line{
	fill: none;
	stroke: black;
	stroke-width: 3;
}
.axis text{
	fill: black;
	font: 10px sans-serif;
}