<!DOCTYPE html>
  <head><title>App</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <script src="http://d3js.org/topojson.v1.min.js"></script>
  </head> 
  <body>


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" class="text-center" href="#">AppFirst Alerting</a>
        <ul class="nav nav-tabs">
          <li><a href="#" onclick="const_req();">Test Alerting Request</a></li>
          <li><a href="#" onclick="get_name(245850);">Test GetName Request</a></li>
          <li class = "dropdown">      
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Servers</a>
            <ul class="dropdown-menu" id="server_nav">
              <script type="text/javascript"> 
              var req = $.ajax({
                url: '/call',
                type: 'GET',
                data: 'url=https://wwws.appfirst.com/api/servers/',
                success: function(data){
                  for(var i=0; i<data.length;i++){
                    var obj = data[i];

                    for(var key in obj){
                      var name;
                      if(key == "nickname")
                        var name = obj[key];
                      if(key=="id")
                        var id = obj[key];
                    }
                    var test = "<li role='presentation'><a role='menuitem' href='#' onclick='request(" + "'https://wwws.appfirst.com/api/servers/" + id + "/data/?num=180'" + " ,0);'>" + name + "</a></li>"
                    console.log(test);
                    $("#server_nav").append(test);
                  }
                }
              });
              </script>
            </ul> <!-- End Server Dropdown Menu -->
             </li>
        </ul>
      </div>
    </div>

    <div class="spinner" id="spinner">
      <script type='text/javascript'>
        request('https://wwws.appfirst.com/api/servers/245850/data/?num=180',0)
      </script>
    </div>


    <div class="alert-box">
      <table class = "table table-hover table-bordered">
        <thead>
          <th> Server Name </th>
        </thead>
        <tbody id="table">
          <tr><td>Porcupine</td></tr>  
          <tr><td>Armadillo</td></tr>
          <tr><td>Whale</td></tr>
          <tr><td>Octopus</td></tr>
          <tr><td>Naked Mole Rat</td></tr>         
          <tr><td>Penguin</td></tr>  
          <tr><td>Armadillo</td></tr>
          <tr><td>Whale</td></tr>
          <tr><td>Octopus</td></tr>
          <tr><td>Naked Mole Rat</td></tr>
        </tbody>
      </table><!--  End of alert box -->
    </div>

    <%= yield %>

  </body>
</html>